{
	"printWidth": 180,
	"singleQuote": true,
	"parser": "typescript",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"quoteProps": "as-needed",
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none"
}
